{% extends "base.html" %} {% block title %}contact page{% endblock title %}
{%block body %}
<div class="container my-4">
  <img
    src="static\Chandrayaan-3_final.jpg"
    height="300"
    class="d-block w-100"
  />
  <center><b>Contact Us</b></center>
  <form method="post" action="/contact">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">full name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="full name"
      />
    </div>
    <div class="form-group">
      <label for="phone">phone number</label>
      <input
        type="phone"
        class="form-control"
        id="phone"
        name="phone"
        placeholder="enter phone number"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        name="email"
        placeholder="name@example.com"
      />
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        name="desc"
      ></textarea>
    </div>
    <button class="btn btn-primary" type="submit">submit</button>
  </form>
</div>
{% endblock body %}
